<html>

<head>
	<title>Movie Lovers</title>
</head>

<body>
	<form method="POST" action="/play">
		<label name="label_word" for="word">Palabro: </label>
		<input name="word" type="text" />
		<input type="submit">

	</form>
	<label name="label_word" for="word"> <%=@pruebaca %> </label>

</body>

</html>
